@font-face {
  font-family: 'Fira Sans';
  src: local("FiraSans Medium"),
    local("FiraSans-Medium"),
    url('../fonts/subset-FiraSans-Medium.woff2') format('woff2'),
    url('../fonts/subset-FiraSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto-Regular"),
    local("Roboto Regular"),
    url('../fonts/subset-Roboto-Regular.woff2') format('woff2'),
    url('../fonts/subset-Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto-Italic"),
    local("Roboto Italic"),
    url('../fonts/subset-Roboto-Italic.woff2') format('woff2'),
    url('../fonts/subset-Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ede9e0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  letter-spacing: 50%;
  line-height: 30px;
}

h1 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 48px;
  line-height: 1.25;
}

h2 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 36px;
  letter-spacing: 0.8px;
  line-height: 40px;
  margin-left: 323px;
}

h3,
.comments-subtitle {
  font-family: 'Fira Sans', sans-serif;
  font-size: 24px;
  letter-spacing: 0.8px;
  line-height: 40px;
}

.subtitle {
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 0.8px;
  line-height: 30px;
  text-transform: uppercase;
  color: #737274;
}

a {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
}

a:hover {
  color: #737274;
}



.about-link{
  color: #ffec00;
}

.about-link:hover {
  color: #b8adc8;
}
.section-about,
.all-about{
  color: #ffffff;
}
.title-desription,
.all-about-text{
  color: #b8adc8;
}


p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: 30px;
}
.all-about-photo-1,
.all-about-photo-2{
  color: #202020;
}

nav-footer {
  color: #7b7a7b;
}

.time,
.comments-more {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 30px;
}

.wrapper {
  width: 1024px;
  background: url(../img/dog.png);
  background-repeat: no-repeat;
  background-position: 26px -5px;
  margin: 0 auto;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.header {
  font-size: 0;
}

.logo,
.nav,
.phone {
  height: 100px;
  display: inline-block;
  vertical-align: top;
}

.phone {
  padding: 25px 0 0 13px;
  width: 15%;
}

.phone a {
  white-space: nowrap;
}

.nav {
  width: 65%;
  padding: 11px 16px 0 121px;
  margin: 0;
}

.nav ul {
  padding-left: 0;
}

.nav ul li {
  display: inline-block;
  padding: 14px 10px;
  margin: 0;
}

.nav_link {
  color: #000;
}

.nav_link:hover {
  color: #510fad;
}

.logo {
  padding: 5px;
  width: 20%;
}

.promo {
  padding-top: 60px;
  padding-bottom: 150px;
  margin: 15px;
}

.title {
  text-align: left;
  margin-left: 319px;
  margin-top: 15px;
  padding-right: 60px;
}

.subtitle {
  text-align: left;
  display: inline-block;
  width: 700px;
  margin: 0;
  margin-left: 331px;
  margin-top: 4px;
}

.section {
  font-size: 0;
  padding: 0;
}

.section-row {
  font-size: 0;
  padding: 0;
}

.section-about {
  background-color: #510fad;
  padding-top: 212px;
  padding-bottom: 194px;
}

.about-list,
.photo-about {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-size: 16px;
}

.title-about h2 {
  margin-top: 0;
}

.title-desription {
  margin-left: 323px;
  width: 390px;
  margin-bottom: 0;
  margin-bottom: 67px;
}

.photo-about {
  width: 460px;
  margin-right: 20px;
}

.photo-about img {
  border-radius: 9px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 20px 45px 5px rgba(0, 0, 0, 0.5);
  width: 460px;
  height: 274px;
  width: 100%;
}

.about-list {
  width: 460px;
  padding-top: 20px;
  
}

.about-list ul {
  padding-left: 20px;
  margin: 0;
  margin-bottom: 100px;
}

.breeds {
  padding-right: 98px;
  padding-left: 30px;
  padding-top: 123px;
  font-size: 0;
}

.title-breads {
  padding: 10px 10px 10px 10px;
  margin-top: 0;
}

.dog-team {
  font-size: 0;
  display: inline-block;
  width: 460px;
  margin-right: 20px;
  vertical-align: top;
}

.dog-team:nth-child(2n) {
  margin-right: 0;
}


.breeds-discription {
  vertical-align: top;
  width: 65%;
  display: inline-block;
  margin-left: 20px;
}

.breeds-discription p {
  display: inline-block;
  letter-spacing: 0;
}


.comments-content {
  padding-top: 115px;
  padding-bottom: 208px;
  
}

.comments-content h2 {
  margin-bottom: 78px;
}

.comments {
  margin: 0;
  width: 50%;
}

.comments-subtitle {
  font-size: 16px;
  margin-top: 66px;
  font-style: normal;
}


.photo {
  display: inline-block;
  width: 140px;
  height: 140px;
  overflow: hidden;
  border-radius: 50%;
}

.photo-team {
  width: 100%;
  object-fit: cover;
}

.comments,
.comments-photo {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.comments {
  padding: 0 20px;
}

.comments-photo {
  padding: 0 20px;
  width: 50%;
}
.comments-photo img{
  border-radius: 10px;
  background-color: rgb(237, 233, 224);
  box-shadow: 0px 6px 40px 0px rgba(0, 0, 0, 0.4);
  width: 460px;
  height: 274px;

}
.comments-link {
  font-size: 16px;
  display: inline-block;
}

.content-about {
  background-color: #510fad;
  padding: 10px 10px 10px 10px;
  padding-top: 111px;
  padding-bottom: 95px;
}

.title-all-about {
  text-align: left;
  margin-left: 0;
}

.all-about,
.all-about-photo {
  display: inline-block;
  vertical-align: top;
}

.all-about {
  width: 460px;
  margin-right: 20px;
}

.all-about-right {
  width: 460px;
  display: inline-block;
  font-size: 0;
}

.all-about-photo-1,
.all-about-photo-2 {
  background-color: #fff;
  display: inline-block;
  width: 220px;
  margin: 0;
  padding: 0;
  vertical-align: top;
  min-height: 291px;
  box-shadow: 0px 6px 40px 0px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  overflow: hidden;
}

.all-about-photo-1:hover {
  box-shadow: 0px 6px 80px 0px rgba(0, 0, 0, 0.4);
}
.all-about-photo-2:hover {
  box-shadow: 0px 6px 80px 0px rgba(0, 0, 0, 0.4);
}

.all-about-photo-1 a,
.all-about-photo-2 a {
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}

.all-about-photo-1 {
  margin-right: 10px;
}

.all-about-photo-2 {
  margin-right: 0;
}


.all-about-text-1 {
  padding: 0;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.all-about-text-2 {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  margin-bottom: 10px;
}

.information {
  padding-top: 134px;
  padding-bottom: 102px;
}

.information .subtitle {
  margin: 0;
  width: initial;
}

.information .phone {
  margin: 0;
  padding: 0;
  width: initial;
  height: initial;
}

.information p {
  margin-top: 0;
}

.contacts {
  margin-top: 0;
  margin-left: 0;
}

.address,
.mail-phone {
  width: 460px;
  display: inline-block;
  vertical-align: top;
}


.street {
  margin-bottom: 20px;
}


.schedule-time {
  margin-bottom: 20px;
}


footer {
  font-size: 0;
}

footer .container {
  border-top: 1px solid #d5d1ca;
}

footer .nav {
  width: 80%;
  padding-left: 0;
}

.footer-social {
  padding-top: 30px;
  width: 20%;
  display: inline-block;
  text-align: right;
}

.socials .link {
  margin-right: 10px;
}

.social-link {
  margin-left: 10px;
}
.sprite-1 {
  background-image: url(../img/spritesheet-1.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 26px;
  height: 26px;
}

.sprite-2 {
  background-image: url(../img/spritesheet-2.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 26px;
  height: 26px;
}
.sprite-facebook-1,
.sprite-facebook-2 {
    background-position: -5px -5px;
}

.sprite-facebook-1:hover {
    background-position: -41px -5px;
}
.sprite-facebook-2:hover {
    background-position: -41px -5px;
}


.sprite-instagram-2,
.sprite-instagram-1 {
    background-position: -5px -41px;
}

.sprite-instagram-1:hover {
    background-position: -41px -41px;
}
.sprite-instagram-2:hover {
    background-position: -41px -41px;
}
.sprite-vk-2,
.sprite-vk-1 {
    background-position: -77px -5px;
}

.sprite-vk-1:hover {
    background-position: -77px -41px;
}
.sprite-vk-2:hover {
    background-position: -77px -41px;
}









